<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script defer src="/js/functions.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>


<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="navbar_container">
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">StudyManager</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="">Dokumente</a>
                    <a class="mdl-navigation__link" href="">Gruppen</a>
                    <a class="mdl-navigation__link" href="">Module</a>
                    <a class="mdl-navigation__link" href="">Mein Profil</a>
                </nav>
            </div>
        </header>
    </div>
        <div class="main">
            <div id="textDiv">Hello World!</div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                    onclick="onOkClick()">OK</button>
        </div>
</div>
</body>
</html>